<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <div th:fragment="links">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- COmmon styles  -->
        <!--        необходимо заменить на локальные версии шрифтов -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!--        -->
        <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
              href="../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css"
              href="../static/css/header-styles.css" th:href="@{/css/header-styles.css}"/>
        <link rel="stylesheet" type="text/css"
              href="../static/css/media/header-media.css" th:href="@{/css/media/header-media.css}"/>
        <link id="favicon" rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"
              th:href="@{favicon.ico}"/>
        <link rel="stylesheet" href="../static/css/modal_reg.css" th:href="@{/css/modal_reg.css}">
    </div>
</head>
<body>

<header th:fragment="header">
    <div class="min_header">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
        </div>
        <div class="logo_min">
            <img src="images/header/logo.png" alt="">
        </div>
    </div>
    <div class="bg_black_header"></div>
    <div class=" header-container bg-light nav_first" th:fragment="top-nav-bar">
        <nav class="navbar navbar-expand-sm navbar-light header-element">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="navbar-nav mr-auto" id="avitoNavigation">
                    <li class="nav-item"><a class="nav-link" href="/" th:text="#{header.ads}">Объявления</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" th:text="#{header.shops}">Магазины</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" th:text="#{header.business}">Бизнес</a></li>
                    <li class="nav-item"><a class="nav-link" href="/" th:text="#{header.help}">Помощь</a></li>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item"><a class="nav-link" href="/admin_page" th:text="#{header.admin}">Админ</a></li>
                    </div>
                </ul>
                <ul class="navbar-nav sign_up">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="favourites"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" th:title="Избранное" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </a>
                    </li>
                    <li th:if="${user.getClass().getSimpleName() == 'String'}" class="nav-item" id="li">
                        <a class="nav-link text-primary open-modal-1" href="#" style="white-space: nowrap"
                           th:text="#{header.login_and_register}">Вход и регистрация</a>
                    </li>
                    <li th:if="${user.getClass().getSimpleName() == 'User'}" class="nav-item">
                        <div th:text="${user.getEmail()}"></div>
                        <a class="nav-link text-primary" href="/logout" style="white-space: nowrap">Выйти</a>
                    </li>
                    <li class="nav-item d-flex justify-content-lg-center align-items-center">
                        <a class="btn btn-primary" href="/addNewPosting" th:text="#{header.post_a_ad}">Подать объявления</a>
                    </li>
                </ul>
            </div>
            <div class="locale">
                <div class="dropdown">
                    <button class=" dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                        <img src="images/header/ru.svg" width="30">-->
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item locale_ru" type="button">
                            <a  href="?locale=ru">
                                <img src="images/header/ru.svg" width="30" >
                            </a>
                        </button>
                        <button class="dropdown-item locale_en" type="button">
                            <a href="?locale=en">
                                <img src="images/header/en.svg" width="30" >
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class=" header-container nav_second">
        <nav class="navbar navbar-expand-sm navbar-light bg-white header-element ">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <img src="images/header/logo.png" alt="">
                </div>
                <ul class="navbar-nav mr-auto category_link" id="header_category_list">

                </ul>
            </div>
        </nav>
    </div>
    <div class=" header-container search">
        <form class="header-element" action=""  id="search-form" >
            <div class="form-row justify-content-center">
                <select class="form-control col-8 col-sm-8  col-md-3 col-lg-2" id="findFromCategory" autofocus
                name="category">
                    <option selected value="" th:text="#{header.any_category}">Любая категория</option>
                </select>
                <div class="form-group col-8 col-sm-8  col-md-5 col-lg-8">
                    <input type="text" th:placeholder="#{header.search_by_announcements}" placeholder="Поиск по объвлениям"
                            class="form-control" name="search" id="search-input">
                </div>


                <select id="location" class="form-control col-8 col-sm-8  col-md-2 col-lg-1" name="regionCity" autofocus >
                    <option selected value="">По всей России</option>
                </select>

                <div class="col-8 col-sm-8 col-md-2 col-lg-1">
                    <button type="submit" class="btn btn-light" th:text="#{header.search}" id="btn-search">Найти</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="ch1" checked>
                    <label class="form-check-label" for="inlineCheckbox1"
                           th:text="#{header.only_in_titles}">только в названиях</label>


                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  name="ch2"checked >
                    <label class="form-check-label" for="inlineCheckbox2"
                           th:text="#{header.only_with_photos}">только с фото</label>


                </div>
            </div>
        </form>
    </div>
    <a href="#" class="btn btn-primary open_search">Поиск</a>

</header>
<div th:fragment="modals">
<div id="locationModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{header.location.modalHeader}">Город или регион</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form role="form">
                    <div class="form-group padding">
                        <input id="location-search" type="text" class="form-control" autocomplete="off">
                        <div id="location-list" class="list-group text-left">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="location-close" type="button" class="btn btn-primary" data-dismiss="modal"
                        th:text="#{header.location.modalFooter}">Показать объявления</button>
            </div>
        </div>
    </div>
    </div>

    <!-- Login Modal -->
    <div class="modal" id="modal-reg-1">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div type="button" class="close" data-dismiss="modal">
                        <div class="leftright"></div>
                        <div class="rightleft"></div>
                    </div>

                    <form class="" method="post" action="/login"  style="align-content: center" id="open-form-modal">
                        <div class="form-title font-weight-bolder" th:text="#{header.modal.login.login}">Вход</div>
                        <div class="form-item">
                            <div class="form-item-login">
                                <label class="input-login">
                                    <input class="form-control" name="email" th:placeholder="#{header.modal.placeholder.email}" placeholder="Электронная почта" type="email">
                                </label>
                            </div>
                            <div class="form-item-password">
                                <label class="input-password">
                                    <input class="form-control" name="password" th:placeholder="#{header.modal.placeholder.password}" placeholder="Пароль" autocomplete="off">
                                </label>
                            </div>

                            <div class="form-password-items-container">
                                <div class="form-item-radio-remember">
                                    <label class="checkbox" style="vertical-align: middle; font-size: 10pt">
                                        <input name="remember" class="" type="checkbox" checked="">
                                        <span th:text="#{header.modal.login.rememberPassword}">Запомнить пароль</span>
                                    </label>
                                </div>
                                <a style="font-size: 10pt" href="#" id="open-modal-3" data-dismiss="modal" th:text="#{message.resetPassword}">Забыли пароль?</a>
                            </div>

                            <div class="form-item-button">
                                <button type="submit" name="submit" class="btn btn-primary" id="btn-open">
                                    <span th:text="#{header.modal.login.signIn}">Войти</span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <span style="padding: 10px 0" th:text="#{header.modal.login.orSignInWith}">или продолжить через</span>
                    <div class="social">
                            <span class="social-vk">
                                <img src="/images/vk.svg">
                            </span>
                        <span class="social-ok">
                                <img src="/images/ok.svg">
                            </span>
                        <span class="social-fb">
                                  <a href="/login/google">  <img src="/images/google.svg"></a>
                            </span>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="text-center" style="margin: auto" href="#"  id="open-modal-2" data-dismiss="modal" th:text="#{header.modal.login.register}">Зарегистрироваться</a>
                    <div class="auth-app-doc" style="font-size: 13px; color: #858585">
                        <span th:text="#{header.modal.login.userAgreementP1}">При входе вы подтверждаете согласие с</span>
                        <a href="#">
                            <span th:text="#{header.modal.login.userAgreementP2}">условиями использования Авито</span>
                        </a>
                        <a href="#">
                            <span th:text="#{header.modal.login.userAgreementP3}">и политикой о&nbsp;данных пользователей.</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Registration Modal -->
    <div class="modal" id="modal-reg-2" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div type="button" class="close" data-dismiss="modal">
                        <div class="leftright"></div>
                        <div class="rightleft"></div>
                    </div>

                    <form action="/rest/admin/add" id="add-reg-form">
                        <div class="form-title font-weight-bolder" id="message-reset-password" th:text="#{header.modal.registration}">Регистрация</div>
                        <div class="form-item-login">
                            <label class="input-login">
                                <input name="email" class="form-control" th:placeholder="#{header.modal.placeholder.email}" placeholder="Электронная почта" type="email" required>
                            </label>
                        </div>
                        <div class="form-item-password">
                            <label class="input-password">
                                <input name="password" class="form-control" th:placeholder="#{header.modal.placeholder.password}" placeholder="Пароль" type="password" autocomplete="off">
                            </label>
                        </div>
                        <div class="form-item-publicName">
                            <label class="input-publicName">
                                <input name="publicName" class="form-control" th:placeholder="#{header.modal.placeholder.yourName}" placeholder="Ваше Имя" type="text" required>
                            </label>
                        </div>
                        <div class="form-item-phone">
                            <label class="input-phone">
                                <input name="phone" class="form-control" th:placeholder="#{header.modal.placeholder.phoneNumber}" placeholder="Номер телефона" type="tel" required>
                            </label>
                        </div>
                        <div class="form-reg-button">
                            <button type="submit" name="submit"  class="btn btn-primary" id="btn-reg" data-dismiss="modal">
                                <span th:text="#{header.modal.register}">Зарегистрироваться</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="text-center"
                          th:text="#{header.modal.register.hasAccount}">У вас уже есть учётная запись?</span><span><a
                    class="open-modal-1" data-dismiss="modal" href="#"
                    th:text="#{header.modal.login.signIn}">Войти</a></span>
                </div>
            </div>

        </div>
    </div>

    <!-- Password Restoration Modal -->
    <div class="modal" id="modal-reg-3" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div type="button" class="close" data-dismiss="modal">
                        <div class="leftright"></div>
                        <div class="rightleft"></div>
                    </div>

                    <form action="/user/resetPassword" id="form-modal-3">
                        <div class="form-title font-weight-bolder" th:text="#{header.modal.accountRecovery}">Восстановление пароля</div>
                        <div class="form-item-login">
                            <label class="input-login">
                                <input name="email" class="form-control" th:placeholder="#{header.modal.placeholder.email}" placeholder="Электронная почта" type="email" required>
                            </label>
                        </div>
                        <div class="form-reg-button">
                            <button type="submit" name="submit"  class="btn btn-primary" data-dismiss="modal" id="btn-modal-3">
                                <span th:text="#{header.modal.submit}">Отправить</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="text-center"
                          th:text="#{header.modal.rememberedPassword}">Вспомнили пароль?</span><span><a
                    class="open-modal-1" data-dismiss="modal" href="#"
                    th:text="#{header.modal.login.signIn}">Войти</a></span>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:fragment="script">
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../static/js/header.js" th:src="@{/js/header.js}"></script>
    <script src="/js/modal_registation.js" th:src="@{/js/modal_registation.js}"></script>
    <script src="/js/modal_registation.js" th:src="@{/js/modal_location.js}"></script>
    <script src="/js/search.js" th:src="@{/js/search.js}"></script>
</div>
</body>
</html>
