
.text-text-Category {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.cascader-table-title-maiFW {
    padding: 12px 10px 10px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #999;
}
.cascader-table-column-2cmhR {
  width: 100%;
    border: 1px solid #d8d8d8;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;


}
.cascader-table-category-2PKmD {
    padding: 4px 10px;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin: 0;
    text-align: left;
}
.cascader-table-category_active-1e4sr,
.cascader-table-category_active-1e4sr:focus,
.cascader-table-category_active-1e4sr:hover {
    background-color: #0af;
    color: #fff;
}
.ADDssa{
    padding-left: 0;
    padding-right: 0;
}
.smallHeaderNewPosting{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    color: #999;
}