/* только явным прописыванием стиля тут удалось сделать белым. почему? */
.text-secondary a:hover,
.text-white a:active,
.text-white a:visited {
    color: gray;
}

caption {
    caption-side: top;
}

.logo_min img {
    width: 80px;
}

.min_header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background: white;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .3);
    pointer-events: none;
    opacity: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: white;
    transition: .3s;
}

header.active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

.header-container {
    width: 100%;
    padding: 0 10px;
}

.header-element {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.header-element .btn {
    width: 100%;
}

.header-element .d-flex {
    width: 100%;
}

.form-group {
    margin-bottom: 0;
}

.btn-primary {
    padding: 2px 7px;
}

.container_cus {
    margin-top: 150px !important;
}

.logo {
    height: 40px;
    margin-right: 20px;
}

.logo img {
    width: 120px;
}

.category_link {
    height: 20px;
}

.category_link li {
    margin: 0 6px;
}

.category_link li a {
    padding: 0;
}

svg {
    fill: transparent;
}

.all_category {
    position: relative;
    color: #007bff !important;
}

.all_category:hover {
    cursor: pointer;
    color: #0155af !important;
}

.container_main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 142px;
}

.nav_category {
    position: relative;
}

#moreCategories::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: -6px;
    left: 47%;
    background: white;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, .2);
}

#moreCategories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 57px;
    width: 500px;
    left: -225px;
    background: white;
    z-index: 1;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7);
    transition: .4s;
}

.bgOption {
    background: #bbb6b6;
}

#moreCategories div {
    min-width: 100px;
}

#moreCategories.on-off {
    top: 37px;
    pointer-events: auto;
    opacity: 1;
}

#moreCategories a {
    text-decoration: none;
}

.top-rubricator-blockTitle {
    font-size: 1.3rem;
}

.sub_categories {
    display: flex;
    flex-direction: column !important;
}

.sub_categories li {
    margin: 0;
}

#findFromCategory {
    overflow: scroll;
}

.modal_for_example {
    display: none;
}

.modal_for_example.onEx {
    display: block;
}

.open_search {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

#menuToggle {
    overflow: hidden;
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    padding-top: 4px;
}

#menuToggle input {
    display: flex;
    width: 45px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
}

#menuToggle span {
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
    background: #7f8fa6;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(6px);
}

#menuToggle input:checked ~ #span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(3px);
}

#menuToggle input:checked ~ #span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
}

.header-root-61eiV {
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 14px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-text-3yVAN {
    margin-top: 4px !important;
}

.text-size-l-2gTpu {
    font-size: 20px;
    line-height: 28px;
}

.header-logo-313Uc {
    width: 114px;
    height: 40px;
    border-bottom: 0;
    /*background: url(images/header/logo.png) center/100% auto no-repeat;*/
    background: url(images/header/logo.png) center/100% auto no-repeat;
}

.header-root-61eiV {
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 14px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.group-root-2mPy6 {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a, address, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, form, h1, h2, h3, h4, h5, h6, i, iframe, img, ins, kbd, label, legend, li, object, p, pre, q, s, samp, small, span, strike, strong, sub, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

div {
    display: block;
}

.item-edit-form, body, html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body {
    -webkit-text-size-adjust: 100%;
}