.location-quick-item-clickable {
}

.location-suggest-active {
    background-color: #d6f1ff;
!important;
    font-weight: bolder;
}

.location-suggest-item {

}

.form-clear {
    align-items: center;
    background: #cecece;
    border-radius: 50%;
    bottom: 8px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 10;
    margin-right: 5px;
}

.form-text + .form-clear {
    bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
    font-size: 16px;
    font-weight: 500;
}

.board-of-ads-down-arrow-dropdown {
    padding-right: 14px;
    padding-left: 16px;
    background-image: url(/images/small_arrow_down.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.header-services-menu-item_username-PkxRh .header-services-menu-dropdown-popup_left-1L2he {
    left: 21px;
}

.header-services-menu-item_username-PkxRh .header-services-menu-dropdown-popup-kXPSK {
    top: 44px;
    min-width: 260px;
}

.header-services-menu-dropdown-popup-kXPSK {
    position: absolute;
    top: 100%;
    display: none;
    min-width: 130px;
    margin-left: -10px;
    border-top: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 17px rgba(0, 0, 0, .15);
    z-index: 1001;
    background: #fff;
    border-radius: 4px;
}

.header-services-menu-dropdown-Z4CM6 .header-services-menu-link-TRWKh {
    padding-right: 10px;
    padding-left: 16px;
    background-image: url("/images/small_arrow_down.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.header-services-menu-item_username-PkxRh .header-services-menu-link-TRWKh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 44px;
    margin: auto;
    padding: 0 2px 0 20px;
    white-space: nowrap;
}

.header-services-menu-link-TRWKh {
    display: inline-block;
    padding: 3px 10px;
    border: 0;
    color: #a1a1a1;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.header-services-menu-avatar-QlGRi {
    position: relative;
    width: 32px;
    height: 32px;
    margin: auto 8px auto 0;
    overflow: hidden;
    border-radius: 50%;
}

/* только явным прописыванием стиля тут удалось сделать белым. почему? */
.text-secondary a:hover,
.text-white a:active,
.text-white a:visited {
    color: gray;
}

caption {
    caption-side: top;
}

.logo_min img {
    width: 80px;
}

.min_header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background: white;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .3);
    pointer-events: none;
    opacity: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: white;
    transition: .3s;
}

header.active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

.header-container {
    width: 100%;
    padding: 0 10px;
}

.header-element {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.header-element .btn {
    width: 100%;
}

.header-element .d-flex {
    width: 100%;
}

.form-group {
    margin-bottom: 0;
}

.btn-primary {
    padding: 2px 7px;
}

.container_cus {
    margin-top: 170px !important;
}

.logo {
    height: 40px;
    margin-right: 20px;
}

.logo img {
    width: 120px;
}

.category_link {
    height: 20px;
}

.category_link li {
    margin: 0 6px;
}

.category_link li a {
    padding: 0;
}

svg {
    fill: transparent;
}

.all_category {
    position: relative;
    color: #007bff !important;
}

.all_category:hover {
    cursor: pointer;
    color: #0155af !important;
}

.container_main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 142px;
}

.nav_category {
    position: relative;
}

#moreCategories::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: -6px;
    left: 47%;
    background: white;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, .2);
}

#moreCategories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 57px;
    width: 500px;
    left: -225px;
    background: white;
    z-index: 1;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7);
    transition: .4s;
}

.bgOption {
    background: #bbb6b6;
}

#moreCategories div {
    min-width: 100px;
}

#moreCategories.on-off {
    top: 37px;
    pointer-events: auto;
    opacity: 1;
}

#moreCategories a {
    text-decoration: none;
}

.top-rubricator-blockTitle {
    font-size: 1.3rem;
}

.sub_categories {
    display: flex;
    flex-direction: column !important;
}

.sub_categories li {
    margin: 0;
}

#findFromCategory {
    overflow: scroll;
}

/* General Modal Styles */

.modal {
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
}

.modal form label {
    width: 70%;
}

.modal .form-title {
    font-size: 25px;
    margin: 15px 0;
}

.modal .close {
    margin-right: -20px;
    position: relative;
    cursor: pointer;
    font-size: 25px;
}

.modal .close .leftright {
    height: 3px;
    width: 33px;
    position: absolute;
    background-color: black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.modal .close .rightleft {
    height: 3px;
    width: 33px;
    position: absolute;
    background-color: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.modal .close:hover .leftright {
    transform: rotate(-45deg);
    background-color: lightgrey;
}
.modal .close:hover .rightleft {
    transform: rotate(45deg);
    background-color: lightgrey;
}

.modal-footer {
    justify-content: center;
}

.modal-footer .auth-app-doc a * {
    text-decoration: underline;
    color: #858585;
}

.modal_for_example {
    display: none;
}

.modal_for_example.onEx {
    display: block;
}

.open_search {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

#menuToggle {
    overflow: hidden;
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    padding-top: 4px;
}

#menuToggle input {
    display: flex;
    width: 45px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
}

#menuToggle span {
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
    background: #7f8fa6;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(6px);
}

#menuToggle input:checked ~ #span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(3px);
}

#menuToggle input:checked ~ #span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
}

.locale .dropdown  {
    margin-left: 10px;
}
.locale .dropdown-menu {
    min-width: auto;
    padding: 0;
    margin: 0;
}
.locale .dropdown-item {
    padding: 0 15px;
}
.locale .dropdown-toggle {
    background: transparent;
    border: 1px solid gainsboro;
}
#location-list{
    height: 25vh;
    overflow: auto
}
#locationModal{
    top: 20%;
}
.message_count {
    position: absolute;
    top: 3px;
}