.main-location-3j9by {
    width: 250px;
}

.main-select-2pf7p {
    background: #fff;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 30px;
    margin: 1px 1px 1px 2px;
    padding: 0 24px 0 8px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 30px;
}

.main-text-2PaZG {
    overflow: hidden;
    white-space: nowrap;
}

.main-select-2pf7p::after {
    background: url('/images/arrow_down_location.svg') no-repeat left top;
    content: '';
    margin-top: -2px;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 5px;
    width: 8px;
}

.search-location {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 0px;
    width: 250px;
}

/*------------------*/
.container_cus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
}

.container_cus .card {
    width: 250px;
    margin: 10px;
}
@media (max-width: 900px) {
    .container_cus {
        margin-top: 60px !important;
    }
}
@media (max-width: 830px) {
    .container_cus {
        justify-content: center;
    }
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 2 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header img{
    position: absolute;
    max-height: 190px;
    left: 0;
    top: 0;
}

.card-header {
    position: relative;
    height: 190px;
}

.card-header svg {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.card-header svg:hover {
    width: 24px;
    height: 24px;
    stroke-width: 3;
}

.favorite-icon-off {
    fill: white;
    color: #007bff;
}

.favorite-icon-on {
    fill: #007bff;
    color: white;
}