.form-item-login{
    margin-top: 30px;
    margin-bottom: 30px;
}
.social img{
    width: 15%;
}
.form-item-password{
     margin-top: 30px;
     margin-bottom: 30px;
 }
.form-item-publicName{
      margin-top: 30px;
      margin-bottom: 30px;
  }