/* Modal Forms */

.form-item-login{
    margin: 0 -10px ;
    padding: 10px 0;
}
.form-item-password{
    margin: 0 -10px ;
    padding: 10px 0;
 }
.form-item-publicName{
    margin: 0 -10px ;
    padding: 10px 0;
  }
.form-item-phone {
    margin: 0 -10px;
    padding: 10px 0;
}
.form-item-select {
    margin-left: 60px;
    width: 340px;
}
.form-password-items-container {
    display: inline-block;
    width: 70%;
}

.form-password-items-container * {
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.form-password-items-container a {
    float: right;
    font-size: 15px;
}

.form-password-items-container label {
    float: left;
}

.form-password-items-container label * {
    float: left;
}

.form-password-items-container label input {
    height: 18px;
    width: 18px;
    display: inline-block;
    float: left;
    background: #3e8e41;
}

.form-password-items-container label span {
    display: inline-block;
    padding-left: 10px;
    float: left;
}

.form-item-button {
    padding: 15px 0;
}

.form-item-button button, .form-reg-button button {
    width: 50%;
    height: 44px;
    background-color: #00AAFF;
}


/* Modal Social Network Links */

.social {
    padding: 10px 0;
}

.social img{
    width: 15%;
}



/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 55% 10%;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Dropdown Button */
.dropbtn {
    background-color: #628ba0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

