.form-item-login{
    margin-top: 30px;
    margin-bottom: 30px;
}
.social img{
    width: 15%;
}
.form-item-password{
     margin-top: 30px;
     margin-bottom: 30px;
 }
.form-item-publicName{
      margin-top: 30px;
      margin-bottom: 30px;
  }

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.mainmenubtn:hover {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}