<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Board of ads</title>


    <div th:replace="~{fragments/header.html :: links}"></div>
    <link rel="stylesheet" type="text/css"
          href="../static/css/normalize.css" th:href="@{/css/addNewPosting.css}"/>
</head>
<body>


<form class="item-edit-form">
    <div class="header-posting-auto">
        <a class="logo_min" href="/"></a>
        <span class="header-text-3yVAN text-text-1PdBw text-size-l-2gTpu text-color-noaccent-bzEdI">Новое объявление</span>
    </div>
    <br>
    <br>
    <br>

    <div data-marker="category">

        <div class="header-root-61eiV group-root-2mPy6 group-spaced-2XDHD" data-marker="category-header">
            <div class="column-root-N_0Ue width-width-flex-3-2jcG8 column-has_width-lyA4x"><span
                    class="text-text-1PdBw text-size-xl-K3Rr2 text-bold-3R9dt">Категория</span></div>
            <div class="column-root-N_0Ue width-width-flex-9-3E7BL column-has_width-lyA4x">
                <button type="button" data-marker="category-title"
                        class="cascader-header-button-SBm2i cascader-header-hidden-20bEs button-button-2Fo5k button-size-l-3LVJf button-noaccent-1c4ET"
                        aria-busy="false"><span class="button-textBox-Row9K"></span></button>
            </div>
        </div>
        <div class="row-root-Y8nPN cascader-table-root-3ouOx row-root_padding_none-xfvAy" data-marker="category-wizard">
            <div class="column-root-N_0Ue cascader-table-row-container-25Ytw width-width-flex-3-2jcG8 column-has_width-lyA4x">
                <div class="cascader-table-row-1FUNk ADDssa">
                    <div class="cascader-table-column-2cmhR btn-group-vertical  ">
                        <div class="cascader-table-title-maiFW text-text-1PdBw text-size-xs-2BbRF text-color-noaccent-bzEdI"
                             id="rootCategoryHeader ">Категория
                        </div>
                        <div id="rootCategory"></div>
                    </div>
                    <div class="cascader-table-column-2cmhR btn-group-vertical " style="display: none"
                         id="colCategory2">
                        <div class="cascader-table-title-maiFW text-text-1PdBw text-size-xs-2BbRF text-color-noaccent-bzEdI"
                             id="secCategoryHeader">Категория
                        </div>
                        <div id="secCategory"></div>
                    </div>
                    <div class="cascader-table-column-2cmhR btn-group-vertical " style="display: none"
                         id="colCategory3">
                        <div class="cascader-table-title-maiFW text-text-1PdBw text-size-xs-2BbRF text-color-noaccent-bzEdI"
                             id="threeCategoryHeader">Категория
                        </div>
                        <div id="threeCategory"></div>
                    </div>
                    <div class="cascader-table-column-2cmhR btn-group-vertical " style="display: none"
                         id="colCategory4">
                        <div class="cascader-table-title-maiFW text-text-1PdBw text-size-xs-2BbRF text-color-noaccent-bzEdI"
                             id="forCategoryHeader">Категория
                        </div>
                        <div id="forCategory"></div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="layout-content-posting">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="js-item-edit-footer">
        <div class="styles-root-29mgo">
            <div class="styles-inner-3fqoE">
                <div class="text-text-1PdBw text-size-s-1PUdo text-color-noaccent-bzEdI">© JM тестовый проект·
                    <a rel="noopener noreferrer" target="_blank"
                       class="link-link-39EVK link-design-inherited-3KR5L link-novisited-1w4JY link-underline-solid-1Hi3Y">Все
                        баги запланированы и защищены</a> · Хорошего дня.
                </div>
            </div>
        </div>
    </div>

</form>
</div>
<div th:replace="~{fragments/header.html :: script}"></div>
<script src="../../static/js/addNewPosting.js" th:src="@{/js/addNewPosting.js}"></script>

</body>
</html>