<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Avito clone</title>
    <div th:replace="~{fragments/headerSmall.html :: links}"></div>
</head>
<body>


<div th:replace="~{fragments/headerSmall.html :: headerSmall}"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row">
    <div class="col-1">
        <!-- Content -->
    </div>
    <div class="col-3">
        <br>
        <span class="text-text-Category">Категория</span>
        <br>
    </div>
    <div class="col-3">
        <!-- Content -->
    </div>
</div>


<div class="row">
    <div class="col-1">
    </div>
    <div class="col-3 ADDssa">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Категория
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnTransport">Транспорт</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnImmovables">Недвижимость</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnJob">Работа</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnServices">Услуги</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnPersonalItems">Личные вещи</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnForHome">Для дома и дачи</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnConsumerElectronics">Бытовая
                электроника
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnHobby">Хобби и отдых</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnAnimals">Животные</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnForBusiness">Для бизнеса</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="transport" name="colCategory2">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Транспорт
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnAuto">Автомобили</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnMotorcycle">Мотоциклы и мототехника
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnTruck">Грузовики и спец техника
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnWaterTransport">Водный транспорт
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnParts">Запчасти и аксессуары</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="immovables" name="colCategory2">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Недвижимость
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnApartments">Квартиры</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnSmallApartments">Комнаты</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnCottage">Дома, дачи, коттеджи
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnPlace">Земельные участки</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnAutoHouse">Гаражи и машиноместа
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnComercApartments">Коммерческая
                недвижимость
            </button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnApartmentsAbroad">Недвижимость за
                рубежом
            </button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="job" name="colCategory2">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Работа
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnVacancy">Вакансии</button>
            <button type="button" class="btn cascader-table-category-2PKmD" id="btnSummary">Резюме</button>
        </div>
    </div>


    <!--3 категория машины-->

    <div class="col-3 ADDssa" style="display: none" id="auto" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Автомобили
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">С пробегом</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Новые</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="motorcycle" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Мотоциклы и мототехника
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Багги</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Вездеходы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Картинг</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Квадроциклы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Мопеды и скутеры</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Мотоциклы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Снегоходы</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="truck" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Грузовики и спец техника
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Автобусы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Автодома</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Автокраны</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Бульдозеры</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Грузовики</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Коммунальная техника</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Лёгкий транспорт</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Погрузчики</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Прицепы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сельхозтехника</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Строительная техника</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Техника для лесозаготовки</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Тягачи</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Экскаваторы</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="waterTransport" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Водный транспорт
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Вёсельные лодки</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Гидроциклы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Катера и яхты</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Каяки и каноэ</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Моторные лодки</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Надувные лодки</button>
        </div>
    </div>

    <!--3 категория жилье-->

    <div class="col-3 ADDssa" style="display: none" id="apartments" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Квартиры
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="smallApartments" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Комнаты
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="cottage" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Дома, дачи, коттеджи
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="place" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Земельные участки
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="autoHouse" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Гаражи и машиноместа
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="comercApartments" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Коммерческая недвижимость
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="apartmentsAbroad" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Недвижимость за рубежом
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">Продам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сдам</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Куплю</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Сниму</button>
        </div>
    </div>


    <!--3 категория работа-->
    <div class="col-3 ADDssa" style="display: none" id="vacancy" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Вакансии
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">IT, интернет, телеком</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Автомобильный бизнес</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Административная работа</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Банки, инвестиции</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Без опыта, студенты</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Бухгалтерия, финансы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Высший менеджмент</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Госслужба, НКО</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Домашний персонал</button>
            <button type="button" class="btn cascader-table-category-2PKmD">ЖКХ, эксплуатация</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Искусство, развлечения</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Консультирование</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Маркетинг, реклама, PR</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Медицина, фармацевтика</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Образование, наука</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Охрана, безопасность</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Продажи</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Производство, сырьё, с/х</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Страхование</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Строительство</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Транспорт, логистика</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Туризм, рестораны</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Управление персоналом</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Фитнес, салоны красоты</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Юриспруденция</button>
        </div>
    </div>
    <div class="col-3 ADDssa" style="display: none" id="summary" name="colCategory3">
        <div class="btn-group-vertical cascader-table-column-2cmhR">
            <div class="cascader-table-title-maiFW">
                Резюме
            </div>
            <button type="button" class="btn cascader-table-category-2PKmD">IT, интернет, телеком</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Автомобильный бизнес</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Административная работа</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Банки, инвестиции</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Без опыта, студенты</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Бухгалтерия, финансы</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Высший менеджмент</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Госслужба, НКО</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Домашний персонал</button>
            <button type="button" class="btn cascader-table-category-2PKmD">ЖКХ, эксплуатация</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Искусство, развлечения</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Консультирование</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Маркетинг, реклама, PR</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Медицина, фармацевтика</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Образование, наука</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Охрана, безопасность</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Продажи</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Производство, сырьё, с/х</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Страхование</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Строительство</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Транспорт, логистика</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Туризм, рестораны</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Управление персоналом</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Фитнес, салоны красоты</button>
            <button type="button" class="btn cascader-table-category-2PKmD">Юриспруденция</button>
        </div>
    </div>
</div>


<script src="/js/addNewPosting.js"></script>
</body>
</html>