<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Avito clone</title>
    <div th:replace="~{fragments/headerSmall.html :: links}"></div>
</head>
<body>


<div th:replace="~{fragments/headerSmall.html :: headerSmall}"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col">
        <div class="btn-group-vertical">
            <button type="button" class="btn" id="btnTransport">Транспорт</button>
            <button type="button" class="btn">Недвижимость</button>
            <button type="button" class="btn">Работа</button>
            <button type="button" class="btn">Услуги</button>
            <button type="button" class="btn">Личные вещи</button>
            <button type="button" class="btn">Для дома и дачи</button>
            <button type="button" class="btn">Бытовая электроника</button>
            <button type="button" class="btn">Хобби и отдых</button>
            <button type="button" class="btn">Животные</button>
            <button type="button" class="btn">Для бизнеса</button>
        </div>
    </div>
    <div class="col d-none"  id="transport">
        <div class="btn-group-vertical">
            <button type="button" class="btn">Транспорт</button>
            <button type="button" class="btn">Недвижимость</button>
            <button type="button" class="btn">Работа</button>
            <button type="button" class="btn">Услуги</button>
            <button type="button" class="btn">Личные вещи</button>
            <button type="button" class="btn">Для дома и дачи</button>
            <button type="button" class="btn">Бытовая электроника</button>
            <button type="button" class="btn">Хобби и отдых</button>
            <button type="button" class="btn">Животные</button>
            <button type="button" class="btn">Для бизнеса</button>
        </div>
    </div>
    <div class="col">
        <div class="btn-group-vertical d-none">
            <button type="button" class="btn">Транспорт</button>
            <button type="button" class="btn">Недвижимость</button>
            <button type="button" class="btn">Работа</button>
            <button type="button" class="btn">Услуги</button>
            <button type="button" class="btn">Личные вещи</button>
            <button type="button" class="btn">Для дома и дачи</button>
            <button type="button" class="btn">Бытовая электроника</button>
            <button type="button" class="btn">Хобби и отдых</button>
            <button type="button" class="btn">Животные</button>
            <button type="button" class="btn">Для бизнеса</button>
        </div>
    </div>
</div>





























<!-- Grey with black text -->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCategory">
    Категория объявления
</button>

<!-- The Modal -->
<div class="modal" id="modalCategory">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Категория</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="btn-group-vertical">
                    <button type="button" class="btn"  data-toggle="modal" data-target="#modalTransport">Транспорт</button>
                    <button type="button" class="btn">Недвижимость</button>
                    <button type="button" class="btn">Работа</button>
                    <button type="button" class="btn">Услуги</button>
                    <button type="button" class="btn">Личные вещи</button>
                    <button type="button" class="btn">Для дома и дачи</button>
                    <button type="button" class="btn">Бытовая электроника</button>
                    <button type="button" class="btn">Хобби и отдых</button>
                    <button type="button" class="btn">Животные</button>
                    <button type="button" class="btn">Для бизнеса</button>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>






<!-- The Modal -->
<div class="modal" id="modalTransport">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Транспорт</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="btn-group-vertical">
                    <button type="button" class="btn">Автомобили</button>
                    <button type="button" class="btn">Мотоциклы и мототехника</button>
                    <button type="button" class="btn">Грузовики и спец техника</button>
                    <button type="button" class="btn">Водный транспорт</button>
                    <button type="button" class="btn">Запчасти и аксессуары</button>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>




<script src="/js/addNewPosting.js"></script>
</body>
</html>