<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading" th:text="#{singIn.pageLogin}"></h2>
        <p>
            <input id="email" name="email" type="email" class="form-control" th:placeholder="#{email.input.placeholder.pageLogin}" required autofocus>
        </p>
        <p>
            <input id="password" name="password" class="form-control" type="password" th:placeholder="#{password.input.placeholder.pageLogin}" required>
        </p>
        <button type="submit" class="btn btn-success btn-lg btn-block"  th:text="#{singIn.button.pageLogin}">Sign in</button>
        <br>
        <div align="center">
                    <span class="social-network-item-icon">
                        <img src="https://static.avito.ru/s/cc/resources/a0a0fd5f488d.svg"> <a href="/login/google" th:text="#{login.with.google.pageLogin}"></a>
                    </span>

        </div>
        <div th:if="${param.error}" th:text="#{error.message.pageLogin}"></div>
    </form>
</div>
</body>
</html>