<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Avito clone</title>
    <div th:replace="~{fragments/header.html :: links}"></div>
    <link rel="stylesheet" type="text/css"
          href="../static/css/main_page.css" th:href="@{/css/main_page.css}"/>
</head>
<body>
<!--***********************-->
<div class="modal fade" id="modal-reg-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вход</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body text-center">
                <form class="" action="/login"  style="align-content: center" id="open-form-modal">
                    <div class="form-item">
                        <div class="form-item-login">
                            <label class="input-login">
                                <input name="email" placeholder="email" type="email">
                            </label>
                        </div><br>
                        <div class="form-item-password">
                            <label class="input-password">
                                <input placeholder="Password" name="password" autocomplete="off">
                            </label>
                        </div><br>

                        <div class="form-item-radio-remember">

                                <label class="checkbox" style="vertical-align: middle; font-size: 10pt">
                                    <input name="remember" class="" type="checkbox" checked="">
                                    <span>Запомнить пароль</span>
                                </label>


                                <a style="font-size: 10pt" href="#" id="open-modal-3" data-dismiss="modal">Забыли пароль?</a>

                        </div><br>
                        <div class="form-item-button">
                            <button type="submit" name="submit" class="btn btn-primary" id="btn-open" data-dismiss="modal">
                                <span>Войти</span>
                            </button>
                        </div><br>
                    </div>
                </form>

                <span style="font-size: 10pt">или продолжить через</span>
                <div class="social">
                            <span class="social-vk">
                                <img src="/images/vk.svg">
                            </span>
                    <span class="social-ok">
                                <img src="/images/ok.svg">
                            </span>
                    <span class="social-fb">
                                <img src="/images/google.svg">
                            </span>

                </div>


            </div>
            <a class="text-center" href="#"  id="open-modal-2" data-dismiss="modal">Регистрация</a>
            <div class="modal-footer">


                <div class="auth-app-doc" style="font-size: 7pt; color: #7f8fa6">При входе вы подтверждаете согласие с&nbsp;
                    <a href="#">
                        <span>условиями использования ?????????</span>
                    </a>
                    &nbsp;и&nbsp;
                    <a href="#">
                        <span>политикой о&nbsp;данных пользователей.</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- регистрации модалка -->
<div class="modal fade" id="modal-reg-2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body text-center">
                <form action="/rest/admin/add" id="add-reg-form">
                    <div class="form-item-login">
                        <label class="input-login">
                            Введите email :<br><input name="email" placeholder="email" type="email"  id="login" required>
                        </label>
                    </div>
                    <div class="form-item-password">
                        <label class="input-password">
                            Введите password :<br><input name="password" placeholder="password" type="password" id="password" autocomplete="off">
                        </label>
                    </div>

                    <div class="form-item-password">
                        <label class="input-password">
                            Подтвердите password :<br><input name="password_confirm" placeholder="password_confirm" type="password" id="password_confirm" autocomplete="off">
                        </label>
                    </div>

                    <div class="form-item-publicName">
                        <label class="input-publicName">
                            Введите publicName :<br><input name="publicName" placeholder="publicName" type="text" id="public_name" required>
                        </label>
                    </div>
                    <div class="form-item-phone">
                        <label class="input-phone">
                            Введите phone :<br><input name="phone" placeholder="912-345-67-89" type="tel" id="phone" required>
                        </label>
                    </div>
                    <div class="form-reg-button">
                        <button type="button" class="btn btn-primary" id="btn-reg">
                            <span >Зарегистрироваться</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modal-reg-3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Восстановление пароля</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body text-center">
                <form action="/login" id="form-modal-3">

                    <div class="form-item-login">
                        <label class="input-login">
                            Введите LOGIN: <input name="email" placeholder="email" type="text" required>
                        </label>
                    </div>
                    <div class="form-reg-button">
                        <button type="submit" name="submit"  class="btn btn-primary" data-dismiss="modal" id="btn-modal-3">
                            <span >Отправить</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--***********************-->

<div th:replace="~{fragments/header.html :: header}"></div>

<div th:fragment="product" class="container_cus">

</div>

<div th:replace="~{fragments/header.html :: script}"></div>
<script src="../static/js/main_page.js" th:src="@{/js/main_page.js}"></script>
</body>
</html>