<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Product details</title>
    <div th:replace="~{fragments/header.html :: links}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/posting.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/media/posting-media.css}"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<div class="container_main">
    <div class="bread_crumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <section class="d-flex">
        <div class="main_posting_block">
            <div class="short_info"></div>
            <div class="favorites_and_notes">
                <div class="add_to_favorite">
                    <a href="#" class="in_favorite">
                        <span class="button_favorite  ">
                           <svg xmlns="http://www.w3.org/2000/svg" title="Избранное" width="24" height="24"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                            <span th:text="#{posting.add_to_favourites}">Добавить в избранное</span>
                        </span>
                    </a>
                </div>
                <div class="add_note">
                    <a href="#" class="a_note">
                        <span class="button_favorite ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                            <span th:text="#{posting.add_note}">Добавить заметку</span>
                        </span>
                    </a>
                    <div class="bg_note"></div>
                    <div class="add_new_note">
                        <input type="text" class="input_note">
                        <a href="#" class="save_input_note">Отправить</a>
                    </div>
                </div>
                <div class="curent_time">Сегодня в 22:00</div>
            </div>
            <div class="slider">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="panel_control_slider">

                </div>
            </div>
            <div class="google_map">
                <div class="info_for_product">
                    Улица Димитрова 27
                    р-н Кировский
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>Скрыть карту</span>
                                    <svg class="bi bi-arrow-down-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                                        <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ua/maps/org/moskovskiy_dom_knigi/1014925339/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Московский Дом Книги</a><a href="https://yandex.ua/maps/213/moscow/category/bookstore/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Книжный магазин в Москве</a><a href="https://yandex.ua/maps/213/moscow/category/educational_literature/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Учебная литература в Москве</a><iframe src="https://yandex.ua/map-widget/v1/-/CCQhqHty3C"   frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full_description"></div>
            <div th:replace="~{main-page.html :: product}"></div>
        </div>
        <div class="some_info_block ">
            <div class="price_button"></div>
            <a href="#">
                <div class="show_telephone">
                    <p th:text="#{posting.show_tel_number}">Показать телефон</p>
                    <span>8 910 XXX-XX-XX</span>
                </div>
            </a>
            <a href="#">
                <div class="write_message">
                    <p th:text="#{posting.write_message}">Написать сообщение</p>
                    <span th:text="#{posting.responsible_for_several_hours}">Отвечает за несколько часов</span>
                </div>
            </a>
            <div class="customer_info d-flex justify-content-between align-items-center">
                <div class="w-50">
                    <!--Требуется реализация данных ссылок-->
                    <a href="#" th:text="#{posting.owner}">Хозяин</a>
                    <p th:text="#{posting.agency}">Агентство</p>
                    <p th:text="#{posting.on_a_Avito_with}">На Авито c сентября 2012</p>
                </div>
                <img class="w-25" src="images/image-placeholder.png" alt="">
            </div>
            <div class="count_postings">
                <a href="#" class="in_favorite">
                    <span class="button_follow ">
                        <!--Требуется реализация данных ссылок-->
                        <span th:text="#{posting.user_ads}">12 объявлений пользователя</span>
                    </span>
                </a>
            </div>
            <div class="follow_customer">
                <a href="#" class="in_favorite">
                    <span class="button_follow ">
                        <!--Требуется реализация данных ссылок-->
                        <span th:text="#{posting.subscribe}">Подписаться на продавца</span>
                    </span>
                </a>
            </div>
            <div class="contact_person">
                <p></p>
                <span></span>
            </div>
            <div class="serial_number">
                <p>№ 1213123123,</p>
                <div>
                    <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                    <pan>66</pan>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{fragments/header.html :: script}"></div>
<script th:src="@{/js/posting.js}"></script>
</head>
</body>
</html>
